@{
    Layout = "~/Views/Shared/_NGOLayout.cshtml";
    ViewData["Title"] = "NGO Profile";
}

<h1>My Profile</h1>

<form id="ngoProfileForm" method="post" enctype="multipart/form-data">
    <div class="p-4 bg-light">
        <div class="form-group">
            <label asp-for="FullName" class="control-label">Full Name *</label>
            <input asp-for="FullName" class="form-control" id="fullname" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="control-label">Email *</label>
            <input asp-for="Email" class="form-control" type="email" id="email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label">Phone Number *</label>
            <input asp-for="PhoneNumber" class="form-control" type="tel" id="phone" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Address" class="control-label">Address *</label>
            <textarea asp-for="Address" class="form-control" id="address"></textarea>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="NgoCode" class="control-label">NGO Code (if applicable)</label>
            <input asp-for="NgoCode" class="form-control" type="text" id="ngocode" />
            <span asp-validation-for="NgoCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Role" class="control-label">I am interested to be: *</label>
            <select asp-for="Role" class="form-control" id="role">
                <option value="Donor">Donor</option>
                <option value="NGO">NGO</option>
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ProfilePictureUrl" class="control-label">Profile Picture *</label>
            <input type="file" asp-for="ProfilePictureFile" class="form-control-file" id="picture" />
            <span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
        </div>
        <div class="form-group d-flex justify-content-between">
            <input asp-controller="User" asp-action="CreateUser" type="submit" value="Save Profile" class="btn btn-success" id="save_profile" />
        </div>
    </div>
</form>