@model List<Microsoft.AspNetCore.Identity.IdentityUser>


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "User List";
}

<h2>Users Without Profiles</h2>
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        int count = 1;
                        foreach (var user in Model)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@user.Id</td>
                                <td>@user.Email</td>
                            </tr>
                            count++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">No users found without profiles.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
