@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="vh-100">
    <form id="registerForm" class="register-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="p-4 bg-light border border-dark rounded-3 shadow-lg">
            <div class="Register-icon">
                <img src="~/images/register-img.png" alt="image not found" />
            </div>
            <h1 class="mb-4 text-center">Registration</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
      
            <div class="form-floating mb-4">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-4">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-5">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <button id="register-submit" type="submit" class="form-control bg-success rounded-pill mb-4" href="/Identity/Account/Login">Register</button>
            </div>
            <div class="text-start fs-6">
                <a href="/Identity/Account/Login" class="text-decoration-none"><i class="fa fa-arrow-left"></i>Back</a>
            </div>
        </div>
    </form>
</div>
 
@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
